body {
    background-image: url('../src/design/4k-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
}

button {
    font-family: 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-text
{
    background-color: black;
    color: white;
    padding: 1.5rem;
    max-width: 80%;
    width: 50rem;
    /* height: 12.5rem; */
}

@media screen and (min-width: 500px) {
    .container-text h2 {
    font-size: 2vw;
    }
    .container-text p {
        font-size: 1vw;
    }
}
  
@media screen and (max-width: 500px) {
    .container-text h2 {
    font-size: 2vh;
    }
    .container-text p {
        font-size: 1vh;
    }
}

.button-container {
    display: flex;
    margin-top: 3vw;
    justify-content: center;
}
  
.new-quote-button {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        outline: none; 
        border: none;
        color: white;
        background-color: black;
        border-radius: 12px;
        cursor: pointer;
        position: fixed;
        bottom: 10rem;
}

.new-quote-button:hover {
        background-color: #171717;
}

.new-quote-button:active {
        background-color: #2c2c2c;
}